---
import { Debug } from 'astro:components';
const {article, style, isslider, bg, showdescription,shouldll} = Astro.props;

import { Image } from 'astro:assets';
import { Picture } from 'astro:assets';

import bookmarkicon from "../../../images/bookmark.svg";
import usericon from "../../../images/user.svg";

var sliderclass = "";
if(isslider==true){
    sliderclass = "swiper-slide";
}   


var descriptionclass = "";
if(showdescription!=false){
    descriptionclass = "sm:block";
}

let url = '/'+article.node.categories.nodes[0].slug+'/'+article.node.slug;
let d = new Date(article?.node?.date);
let datestring = d.getDate()  + "." + (d.getMonth()+1) + "." + d.getFullYear();

let avtor ="";

if(article?.node?.author?.node?.firstName!=null){
    avtor = ""+article?.node?.author?.node?.firstName ;
}
if(article?.node?.author?.node?.lastName!=null){
    avtor = avtor+" "+article?.node?.author?.node?.lastName ;
}

if(avtor == ""){
    avtor="novice";
}

let bgclass = "p-2 bg-sneg-white";
if(bg==false){
    bgclass = "";
}

let personname =" ";
			
if(article?.node?.oseba?.name!=null){
    personname = ""+article?.node?.oseba?.name ;
}
if(article?.node?.oseba?.surname!=null){
    personname = personname+" "+article?.node?.oseba?.surname ;
}

var llstyle = "lazy";
if(shouldll==="false"){
    llstyle = "eager";
}

let place = article?.node?.place?.place;
let placeclass = "";
if(place === null || place.trim()===0){
    placeclass = "hidden";
}

let excerpt = (article?.node?.excerpt).replace(/<[^>]*>?/gm, '');
---


{ 
    ()=> {
      if (style === "" || style === "big") {
        return(

            <a href={url} class={`col-span-1 lg:col-span-1 lg:row-span-1  overflow-hidden ${sliderclass}`} >
                <article class={`h-full flex flex-col ${bgclass}`}>
                    <div class="overflow-hidden relative">
                        <Picture height="128" width="257" class="ease-out duration-4000 transition-all hover:scale-103 aspect-video"   src={article?.node?.featuredImage?.node?.sourceUrl} srcset={article?.node?.featuredImage?.node?.srcSet}  loading={llstyle} alt={article?.node?.title}/>
                        <div class="absolute left-0 bottom-0 block">
                            <span class={`block uppercase px-2 bg-klopinj-blue text-white tracking-widels text-sm ${placeclass}`}>{place}</span>
                        </div>
                    </div>
                    <div class="sm:px-3 pt-2 flex flex-col flex-1">
                        
                        <h2 class=" leading-novice text-xl sm:text-2xl line-clamp-3 text-ellipsis "><Fragment set:html={article?.node?.title}/></h2>	

                        <span class={`hidden ${descriptionclass}`}>
                            <p class="text-base font-serif mb-4 line-clamp-2">{excerpt}</p>
                        </span>

                        <div class="flex flex-col sm:flex-row justify-end sm:justify-between flex-1 gap-1 sm:gap-4 mt-2 hidden">
                            <span class="uppercase flex flex-row items-center text-klopinj-blue tracking-widels text-xs sm:text-md">
                                <Image src={bookmarkicon} loading={llstyle} alt="Date icon" class=""/>
                                {datestring}
                            </span>

                            <span class="uppercase flex flex-row items-center text-klopinj-blue tracking-widels text-xs sm:text-md">
                                <Image class=" max-h-4 mr-2" src={usericon} alt="Avtor icon" loading={llstyle}/>
                                {avtor}
                            </span>
                        </div>
                        
                    </div>
                
                </article>
            </a>

        )
      } else if( style === "small") {
        return(
            <a href={url} class="col-span-1  overflow-hidden" >
                <article class="p-3">
                    <span class={`text-papez-purple uppercase text-lg inline-block mt-2 mb-1 min-h-5`}>{place}</span>
                    <h2 class="leading-novice text-xl sm:text-2xl line-clamp-3 text-ellipsis"><Fragment set:html={article?.node?.title}/></h2>						
                </article>
            </a>
        )
      } else if( style === "opinion") {
        return(
            <a href={url} class="col-span-1 row-start-2 swiper-slide" >
                <article class="p-3 bg-sneg-white h-full rounded-md">
                    
                    <div class="flex flex-wrap justify-center -mt-20">
                        <div class="w-40 h-40 rounded-full overflow-hidden">
                            <Picture height="160" width="160" class="ease-out duration-4000 transition-all hover:scale-103"  src={article?.node?.featuredImage?.node?.sourceUrl} srcset={article?.node?.featuredImage?.node?.srcSet} loading={llstyle} alt={article?.node?.title}/>
                            
                        </div>
                    </div>
        
                    <div class="py-2 text-center">
                        <h2 class="text-papez-purple text-xl sm:text-2xl inline-block mt-2 mb-4 block line-clamp-1 text-ellipsis block leading-novice ">{personname}</h2>
                        <span class=" leading-novice text-xl sm:text-2xl line-clamp-3 text-ellipsis"><Fragment set:html={article.node.title}/></span>
                    </div>
                
                </article>
            </a>
        )
      } else if( style === "congratulations") {
        return(
            <a href={url} class=" swiper-slide  overflow-hidden" >
                <article class="p-2 bg-sneg-white h-full">
                    <div class="overflow-hidden relative block">
                        <div class="absolute left-0 bottom-0 block">
                            <span class={`block uppercase px-2 bg-klopinj-blue text-white tracking-widels text-sm ${placeclass}`}>{place}</span>
                        </div>
                        <Picture height="128" width="257" class="ease-out duration-4000 transition-all hover:scale-103 aspect-video"   src={article?.node?.featuredImage?.node?.sourceUrl} srcset={article?.node?.featuredImage?.node?.srcSet}  loading={llstyle} alt={article?.node?.title}/>
                        
                    </div>
                    <div class="py-2">
                        <span class="text-papez-purple uppercase text-3xl inline-block mt-2 mb-2">{personname}</span>
                        <h2 class="text-xl sm:text-2xl mb-2 line-clamp-3 text-ellipsis h-24 leading-novice "><Fragment set:html={article.node.title}/></h2>
                        
                    </div>
                
                </article>
            </a>
	
        )
      } else if( style === "congratulations2") {
        return(

			<a href={url} class="col-span-1 row-start-2 swiper-slide  overflow-hidden" >
				<article class="p-3 bg-sneg-white h-full flex flex-col justify-center border border-black">
					<div class="flex flex-wrap gap-2 justify-center mb-4">
						<span class="uppercase px-2 bg-klopinj-blue text-white text-lg  tracking-widels">{article?.node?.place?.place}</span>
					</div>
                    
					<img class="ease-out duration-4000 transition-all hover:scale-103"   src={article?.node?.featuredImage?.node?.sourceUrl} srcset={article?.node?.featuredImage?.node?.srcSet}  loading={llstyle} alt={article?.node?.title}/>
		
					<div class="py-2 flex flex-col justify-center">
						<span class=" text-2xl font-bold inline-block mt-2 mb-1 text-center text-papez-purple">{personname}</span>
                        <h2 class="mt-2 text-xl sm:text-2xl  line-clamp-2 text-center leading-novice "><Fragment set:html={article.node.title}/></h2>
						<img class=" text-center h-8 mt-4" src="/tmpimages/svgs/zoom.svg"/>			
					</div>
				
				</article>
			</a>
	
        )
      }
    }
  }