---


import Half from './elements/half.astro'
import Quarter from './elements/quarter.astro'
import { getPostByCategoryById } from '../../lib/api';


const {block} = Astro.props;

const blckjsn = JSON.parse(block.attributesJSON);
let datacatid = blckjsn?.data?.blockcategory;

if (datacatid === undefined){
	datacatid = '["6"]';
}

let articles = await getPostByCategoryById(datacatid,9);

	let articles1= new Array();
	let articles2= new Array();
if(articles === undefined){
	articles = new Array();
}else{
	articles1 = articles.slice(0, 5);
	articles2 = articles.slice(5, 9);
	
}

---


<section class="bg-sele-ivory px-1 md:px-4 py-8 md:py-24">
	<div class="mx-auto lg:max-w-screen-lg max-w-7xl 2xl:max-w-nov-width">
		
		<h2 class="col-span-2 font-light text-5xl text-klopinj-blue mb-2 uppercase text-center">Kultura</h2>
	</div>
	<div class="grid grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 lg:grid-flow-row  gap-4 mx-auto lg:max-w-screen-lg max-w-7xl 2xl:max-w-nov-width">
		{articles1.map(function (article,k) {
			let url = '/'+article?.node?.categories?.nodes[0].slug+'/'+article?.node?.slug;
			
			let classes_lr="";

			let avtor ="";
			
			if(article?.node?.author?.node?.firstName!=null){
				avtor = ""+article?.node?.author?.node?.firstName ;
			}
			if(article?.node?.author?.node?.lastName!=null){
				avtor = avtor+" "+article?.node?.author?.node?.lastName ;
			}
			
			if(avtor == ""){
				avtor="novice";
			}
			
			if(k==0){
				return (
					<Half article={article} style="normal"  shouldll="true"/>
				);
			}
			if(k>0){
				return (
					<Quarter article={article} style="big" showdescription={false}  shouldll="true"/>
				);
			}
		
		})}
			
		
		
	</div>
	<div class="hidden md:grid grid-cols-4 md:grid-rows-1 md:grid-flow-row  gap-4 mx-auto lg:max-w-screen-lg max-w-7xl 2xl:max-w-nov-width">
		{articles2.map(function (article,k) {
			
			return (
				<Quarter article={article} style="small"/>
			);

		})}
			
		
		
	</div>
</section>